body {
    margin: 0;
    background-color: #333;
    color: white;
    font-family: Consolas, sans-serif;;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a:link {
    color: white;
    text-decoration: underline;
}

a:visited {
    color: white;
    text-decoration: underline;
}

a:hover {
    color: dodgerblue;
    text-decoration: none;
}

@media (max-width: 500px) {
    header {
        padding-left: 10%;
    }

    .body {
        padding-left: 7%;
        padding-right: 7%;
    }
}

@media (min-width: 500px) {
    header {
        padding-left: 20%;
    }

    .body {
        padding-left: 15%;
        padding-right: 15%;
    }
}

header {
    background-color: dodgerblue;
    color: white;
    font-size: 4em;
}

.body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, max-content));
    grid-gap: 2em;
}

aside {
    max-width: 350px;
    padding-right: 10px;
}

footer {
    background-color: #0f487f;
    position: relative;
    bottom: 0;
}

.center {
    text-align: center;
}

.social {
    display: flex;
}

.social a {
    padding-left: .5em;
    padding-right: .5em;
    font-size: 14pt;
}
img{
    border-radius: 15%;
}


